.URLShortenerPanel {
  &-Content {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &-InputCont {
    flex-grow: 1;
    margin-bottom: 1rem;

    @media (min-width: 1024px) {
      margin-right: 2rem;
    }
  }
}
