.ResultPanel {
  &-Content {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    & > *:not(:first-child) {
      margin-top: 1rem;

      @media (min-width: 1024px) {
        margin-top: 0;
        margin-left: 2rem;
      }
    }

    & > *:first-child .Input input {
      text-overflow: ellipsis;

      background-color: var(--color-bg-secondary);
      border: 1px solid var(--color-bg-border);
      box-shadow: none;
    }

    & > *:nth-child(3) {
      flex-grow: 1;
    }
  }

  &-Arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-bg-border);

    transform: rotate(90deg);

    svg {
      margin: 1em;

      fill: currentColor;
    }

    @media (min-width: 1024px) {
      min-width: 4em;

      transform: none;
    }
  }
}
