.ErrorPanel {
  &-ErrorContainer {
    padding: 1em 1.5em;

    color: var(--color-typo-alert);
    font-size: 18px;

    border-radius: 4px;

    transition: 150ms;
  }
}

.ColorTheme_color_light {
  .ErrorPanel {
    &-ErrorContainer {
      background-color: var(--color-bg-alert);
    }
  }
}

.ColorTheme_color_dark {
  .ErrorPanel {
    &-ErrorContainer {
      border: 1px solid var(--color-typo-alert);
    }
  }
}
