.DotLoader {
  --loader-color: var(--color-control-bg-primary);
  --dot-size: 0.4em;
  --dots-indent: 0.2em;
  position: absolute;

  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  display: grid;
  grid-template-rows: var(--dot-size);
  grid-template-columns: repeat(3, 0.4em);
  gap: var(--dots-indent);
  align-items: center;
  justify-items: center;

  transform: translate(-50%, -50%);

  &::before,
  &::after,
  &-Dot {
    display: block;
    width: 100%;
    height: 100%;

    background-color: var(--loader-color);
    border-radius: 50%;
    opacity: 0.6;

    animation: 400ms linear 0s infinite alternate loading;

    animation-name: loading;

    content: "";
  }

  &-Dot {
    animation-delay: 100ms;
  }

  &::after {
    animation-delay: 300ms;
  }
}

@keyframes loading {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.5);
  }
}
