.ThemeToggler.Button {
  position: relative;

  width: 32px;
  height: 32px;
  padding: 0;

  color: var(--color-typo-ghost);

  background-color: initial;

  &:hover:not(.disabled):not(.loading) {
    color: var(--color-typo-secondary);

    background-color: initial;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    fill: currentColor;
  }
}
