.Button {
  --button-height: 60px;
  --button-padding-x: 1em;
  --border-radius: 4px;
  position: relative;

  height: var(--button-height);
  padding: 0 var(--button-padding-x);

  color: var(--color-control-typo-primary);
  font-weight: 600;
  font-size: 20px;
  line-height: var(--button-height);

  background-color: var(--color-control-bg-primary);
  border-radius: var(--border-radius);
  cursor: pointer;

  transition: background-color 150ms;

  &:hover:not(.disabled):not(.loading) {
    background-color: var(--color-control-bg-primary-hover);
  }

  &.loading {
    .DotLoader {
      --loader-color: var(--color-control-typo-primary);
    }

    color: transparent;
  }

  &.loading,
  &.disabled {
    cursor: initial;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.Input {
  --font-size: 20px;
  --input-height: 60px;

  input {
    width: 100%;
    height: var(--input-height);
    padding: 0 1em;

    color: var(--color-typo-primary);
    font-size: var(--font-size);

    background-color: var(--color-bg-primary);

    border-radius: 4px;
    outline: none;

    transition: 150ms;

    &::placeholder {
      color: var(--color-typo-ghost);
    }
  }
}

.ColorTheme_color_light {
  .Input input {
    border: none;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.ColorTheme_color_dark {
  .Input input {
    border: 1px solid var(--color-bg-border);
  }
}
