.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  background-color: var(--color-bg-secondary);

  transition: 150ms;

  &-ThemeTogglerCont {
    position: absolute;
    top: 32px;
    right: 32px;
  }
}
