.RulesPanel {
  &-List {
    font-size: 18px;

    counter-reset: item-num;
  }

  &-ListItem {
    margin-bottom: 2rem;

    counter-increment: item-num;

    &::before {
      margin-right: 1em;

      color: var(--color-typo-secondary);

      content: counter(item-num) '.';
    }
  }
}
