@import "/node_modules/korus-ui/dist/styles/reset.css";
@import "/node_modules/korus-ui/dist/styles/leda.light.css";

body {
  margin: 0;

  font-family:
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
