.ColorTheme {
  color: var(--color-typo-primary);

  &_color {
    &_light {
      --color-control-bg-primary: #74bb73;
      --color-control-bg-primary-hover: #78cc77;
      --color-control-typo-primary: #fff;
      --color-bg-primary: #fff;
      --color-bg-secondary: #eee;
      --color-typo-primary: #303030;
      --color-typo-secondary: #787878;
      --color-typo-ghost: #b5b5b5;
      --color-bg-alert: #ffcece;
      --color-typo-alert: #8d0f0f;
      --color-bg-border: #b5b5b5;
    }

    &_dark {
      --color-control-bg-primary: #74bb73;
      --color-control-bg-primary-hover: #78cc77;
      --color-control-typo-primary: #fff;
      --color-bg-primary: #001a33;
      --color-bg-secondary: #071d46;
      --color-typo-primary: rgb(255, 255, 255, 0.9);
      --color-typo-secondary: rgb(255, 255, 255, 0.5);
      --color-typo-ghost: rgb(255, 255, 255, 0.3);
      --color-bg-alert: #ffcece;
      --color-typo-alert: #ff6b6b;
      --color-bg-border: rgb(255, 255, 255, 0.3);
    }
  }
}
